@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

header{
    width:100%;
}

body{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title{
    width:80%;
    text-align: center;
    margin:50px 0px 10px 0px;
    padding:10px;
    -webkit-animation: fadein 0.5s;
}

.explain{
    color: rgb(27, 27, 27);
    text-align: center;
    -webkit-animation: fadein 1.0s;
    margin:10px 30px 10px 30px;
}

.container{
    width: 60%;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadein 1.5s;
}

input{
    width : 300px;
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
}

#pw_btn{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    color:white;
    background-color: rgb(248, 100, 83);
    -webkit-animation: fadein 2.5s;
}

#pw_btn:hover{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color:rgb(119, 116, 116);
    color:white;
}