@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

header{
    width:100%;
}

body{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title{
    width:80%;
    text-align: center;
    margin:50px 0px 10px 0px;
    padding:10px;
    -webkit-animation: fadein 0.5s;
}

#google_signin{
    background-color: white;
    background-image: url("google.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0px 0px 10px 0px;
    -webkit-animation: fadein 1.0s;
}

#google_signin:hover{
    border: 2px solid rgb(223, 178, 178);
}

.explain{
    color: rgb(27, 27, 27);
    text-align: center;
    -webkit-animation: fadein 1.4s;
    margin: 0px;
}

.signin_container{
    width: 60%;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadein 1.8s;
}

input{
    width : 300px;
    background-color: #eee;
    border: none;
    padding: 12px 0px 12px 0px;
    margin: 8px 0px 0px 0px;
}

#signin_btn{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    color:white;
    background-color: rgb(248, 100, 83);
    -webkit-animation: fadein 2.6s;
}

#signin_btn:hover{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color:rgb(119, 116, 116);
    color:white;
}

#login_btn{
    color: rgb(27, 27, 27);
    font-size: small;
    margin: 10px 0px 0px 0px;
    -webkit-animation: fadein 2.2s;
    text-align: center;
}
@media (max-width:450px){
    .signin_container{
        width:80%;
    }
    input{
        width: 100%;
    }
}
