@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

header{
    width:100%;
}

body{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title{
    width:80%;
    text-align: center;
    margin:50px 0px 10px 0px;
    padding:10px;
    -webkit-animation: fadein 0.5s;
}

.explain{
    color: rgb(27, 27, 27);
    text-align: center;
    -webkit-animation: fadein 1.0s;
    margin: 0px 30px 0px 30px;
}

.login_container{
    width: 60%;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadein 1.5s;
}

input{
    width : 300px;
    background-color: #eee;
    border: none;
    padding: 12px 0px 12px 0px;
    margin: 8px 0px 0px 0px;
}


#login_btn{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    color:white;
    background-color: rgb(248, 100, 83);
    -webkit-animation: fadein 2.5s;
}

#login_btn:hover{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color:rgb(119, 116, 116);
    color:white;
}
#sign_btn{
    color: rgb(27, 27, 27);
    font-size: small;
    margin: 10px 0px 0px 0px;
    -webkit-animation: fadein 2.0s;
    text-align: center;
}
#forget_pw{
    color: rgb(27, 27, 27);
    font-size: small;
    margin: 0px;
    -webkit-animation: fadein 2.0s;
}

@media (max-width:450px){
    .login_container{
        width:80%;
    }
    input{
        width: 100%;
    }
}