header{
    width:100%;
}

body{
    width:100%;
    height:100%;
    background-image: url("background.jpg");
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.full{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 400px;
    margin: 5% 0px 5% 0px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}


input{
    border-radius: 10px;
    border:none;
}

.btn{
    border-radius: 20px; 
    width:80px;
    height:40px; 
    background-color: rgb(58, 52, 52); 
    color: rgb(255, 255, 255); 
    margin: 10px;
}

.btn2{
    border-radius: 20px; 
    width: 100px;
    height:40px; 
    background-color: #776b68; 
    color: rgb(255, 255, 255); 
    margin: 10px;
}

.btn:hover, .btn2:hover{
    color:white;
    background-color: rgb(248, 100, 83);
}


#hidden_block{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding:10px;
}

#hidden_block_cnt{
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    background-color:rgb(65, 52, 52);
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#profile_part{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    width: 50%;
    height: 90%;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding:10px;
    overflow-y: scroll;
}

#styleimg_part{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 50%;
    height:100%;
}

.img_cover{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-radius: 40px;
    cursor: pointer;
    z-index:1;
    margin:10px;
}

.img_cover:hover{
    background-color: rgba(184, 167, 167, 0.5);
}

.img{
    width: 70px;
    height: 70px;
    border-radius: 40px;
}

.styleimg{
    height:100%;
    overflow: hidden;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#pro{
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}


.img_hidden{
    opacity: 0;
    width:0px;
    height:0px;
}

#profile_input{
    width: 300px;
    height: 80px;
    margin: 10px;
}


.close {
  color:#bcaaa4 ;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(248, 100, 83);
  text-decoration: none;
  cursor: pointer;
}

#username{
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0px;
}

@media (max-width:800px){
    .full{
        width:80%;
    }
}

@media (max-height:500px){
    .full{
        height:300px;
    }
}