@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 0.5s;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 0.5s;
  animation-name: fadeInUp 0.5s;
}

/*************************************/
header{
    width:100%;
}

body{
    width:100%;
    background-image: url("background.jpg");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

input{
    border-radius: 10px;
    border:none;
}


#welcome{
    width:80%;
    height:100%;
    margin:10px 0px 10px 0px;
}

.block{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px 40px 0px;
    padding: 20px 40px 40px 40px;
    background-color: rgba(255, 255, 255, 0.6);
}

.subtitle{
    color:rgb(88, 85, 85);
    float:right;
}

#enterChatroom{
    background-color: rgba(255, 255, 255, 0.6);
}

.show_part{
    height: 80%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    display: inline-block;
    flex-wrap: wrap;
    padding: 10px;
    margin:10px;
}


.friend{
    display: inline-block;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.6);
    padding:5px;
    border-radius: 20px;
    margin:5px;
}

#create_new_room{
    background-color: rgba(255, 255, 255, 0.6);
}

.input_btn{
    margin:10px;
}

#member_btn, #friend_btn, #add_friend_btn{
    background-color: rgba(255, 255, 255,0);
    background-image: url("search1.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    position: relative;
    left: -35px;
    top: 8px;
}

#show_chosed_users{
    height: 80px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    border: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
    padding: 10px;
    margin: 10px;
}

#user, #member, #add_user{
    width:80%;
}

#show_chosed_users::placeholder{
    text-align: center;
}

#create_chatroom_btn{
    border-radius: 20px;
    width: 75px;
    height: 35px;
    background-color:rgb(100, 96, 96);
    color:white;
    margin: 5px 0px;
}

#create_chatroom_btn:hover{
    border-radius: 20px;
    width: 75px;
    height: 35px;
    color:white;
    background-color: rgb(248, 100, 83);
    margin: 5px 0px;
}

.chatroom_btn{
    border-radius: 20px;
    width: 70px;
    height: 30px;
    color: rgb(248, 100, 83);
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(248, 100, 83);
    margin: 10px 0px;
}

.btn, #post{
    border-radius: 20px; 
    width:80px; 
    height:40px; 
    background-color: rgb(100,96,96); 
    color: rgb(255, 255, 255); 
    margin: 5px;
}

.btn:hover, #post:hover{
    color:white;
    background-color: rgb(248, 100, 83);
}
/****************************************************/
#chatroom{
    margin:0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#right_part{
    width:70%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 20px 10px 20px 10px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#member_part{
    width: 20%;
    height: 630px;
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

#show_member{
    width: 90%;
    height:85%;
    margin:10px 0px 10px 0px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    padding: 10px;
}

#add_chatroom_member_btn{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: rgb(233, 178, 178);
    margin:20px 0px 10px 0px;
}

#add_chatroom_member_btn:hover{
    background-color:rgb(250, 161, 161);
}


#current_chatroom{
    text-align: center;
    color:rgb(88, 85, 85);
    border-bottom: 1px solid rgb(88, 85, 85);
    margin: 10px 0px 10px 0px;
    padding: 10px 0px;
}

#show{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: scroll;
    padding: 10px;
}


#text_input{
    margin: 10px 0px 10px 10px;
    height: 40px;
    width: 60%;
}


.show_text{
    background-color: rgba(255, 255, 255,0.6);
    border-radius: 20px;
    margin: 10px;
    width: 40%;
    align-self: flex-start;
}

.show_text_own{
    background-color: rgba(255, 255, 255,0.6);
    border-radius: 20px;
    margin: 10px;
    width: 40%;
    align-self: flex-end;
}

.talker{
    background-color: rgb(100, 96, 96);
    border-top:1px solid rgba(0, 0, 0, 0);
    border-top-right-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 5px 0px 5px 8px;
}

.talker_own{
    background-color: rgb(100, 96, 96);
    border-top:1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 5px 0px 5px 8px;
}

.message{
    padding: 3px 0px 3px 8px;
}

.time{
    padding: 0px 10px 0px 0px;
    text-align: right;
}

#bottom{
    border-top: 1px solid rgb(88, 85, 85);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.member_profile{
    width: 90%;
    border-bottom: 1px solid rgb(88, 85, 85);
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding:5px;
}

.profile_ctx{
    text-align: center;
    margin:0px 0px 0px 2px;
}
/********************************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding:10px;
}



/* Modal Content/Box */
.modal-content {
  background-color: rgb(248, 219, 139);/*rgb(226, 175, 164);*/
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 80%;
  -webkit-animation: fadeInDown 0.5s;
  animation-name: fadeInDown;
}

/* The Close Button */
.close {
  color: rgb(58, 45, 45);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin:5px;
}
.image_on_profile:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

.sticker{
    height:40px;
    width:40px;
}

.post_sticker:hover{
    transform: scale(0.9);
}

#profile_cxt{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
}

.up_part{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 60%;
    height:30%;
}

.down_part{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 0px 0px 10px 0px;
    width: 60%;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:20px 0px 20px 0px;
    overflow-y: scroll;
}

#styleimg{
    width:100%;
    height:100%;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#img{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    margin:5px;
}

#p{
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

#profile_close{
    align-self: end;
}

#modalcnt_in_chatroom{
    height: auto;
}

@media (max-width: 650px){
    .show_part{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px;
        margin:10px;
    }
    .block{
        align-items: center;
    }
    .friend{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:650px){
    .modal-content{
        width:80%;
    }
    .up_part{
        width:70%;
    }
    .down_part{
        width:70%;
    }
}